export PUBLISHER_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

- Create your personal token following these instructions (see https://code.visualstudio.com/docs/extensions/publish-extension#_get-a-personal-access-token)
- Make sure you select "All accessible accounts" (see https://github.com/Microsoft/vscode-vsce/issues/11)
- Export that value as an environment variable named PUBLISHER_TOKEN.
